body{
  background: #fff;
}

html {
  font-family: "Cera Pro";
}
.container {
  max-width: 1550px !important;
  width: inherit;
  padding: 0 20px;
  margin: 0 auto;
}

.button.header-buttons-reg {
  font-size: 14px;

  & > svg {
    display: none;
  }
}

@media only screen and (max-width: 980px) {

  .button.header-buttons-reg {
    padding: 8px;
    svg{
      display: block;
    }
    span{
      display: none;
    }
  }
}

.filter-container {
  width: 315px;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .filter-container {
    width: 280px;
  }
}

.header {
  background: #1c1d23;
  position: relative;

  &.menu-open {
    & .header-burger {
      background: #5d5fef url("../../assets/images/icons/burger-x.svg") no-repeat center;
    }

    .header-modal {
      left: 0;
    }

    // & .header-search {
    //   visibility: hidden;
    // }
  }
}
.header-block {
  width: 100%;
  height: 100%;
  padding: 25px 30px;
  display: grid;
  grid-template-columns: 142px auto auto 1fr auto;
  align-items: center;
  gap: 50px;

  @media (max-width: 1300px) {
    gap: 20px;
  }

  @media (max-width: 980px) {
    grid-template-columns: auto auto 1fr auto;
    padding: 15px;
    gap: 10px;
  }
}
.header-burger {
  width: 50px;
  height: 50px;
  border: 1px solid #5d5fef;
  border-radius: 10px;
  outline: none;
  background: url("../../assets/images/icons/burger.svg") no-repeat center;
  cursor: pointer;

  @media (max-width: 980px) {
    width: 40px;
    height: 40px;
  }
}
.header-logo-big {
  @media (max-width: 980px) {
    display: none;
  }
}
.header-logo-mob {
  display: none;

  @media (max-width: 980px) {
    display: block;
  }
}
.header-menu {
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
  height: 100%;
  padding: 0;

  @media (max-width: 1300px) {
    gap: 20px;
  }

  @media (max-width: 1110px) {
    display: none;
  }
}
.header-menu-item {
  color: #bdbdbd;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;

  & > a {
    display: flex;
    align-items: center;
  }

  &:hover {
    color: #5d5fef;
  }
}
.header-search {
  height: 48px;
  max-width: 500px;
  min-width: 200px;
  width: inherit;
  position: relative;

  @media (max-width: 980px) {
    height: 40px;
    max-width: 100%;
    min-width: 120px;
  }

  & > img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.header-search-input {
  width: 100%;
  height: 100%;
  background: #02030b;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 12px 40px 12px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #828282;

  &::placeholder {
    color: #828282;
    font-size: 14px;
    line-height: 24px;
  }

  &:focus {
    background: #ffffff;
    border: 2px solid #5d5fef;
    color: #1c1d23;
  }

  @media (max-width: 980px) {
    padding: 8px 20px;
  }
}
.header-buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
  margin-left: auto;

  @media (max-width: 1300px) {
    gap: 20px;
  }
}
.header-buttons-login {
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;

  &:hover {
    color: #5d5fef;
  }

  @media (max-width: 980px) {
    display: none;
  }
}


.button {
  background: #5D5FEF;
  border-radius: 8px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  padding: 12px 22px;

  &:hover {
    background: #4B4DED;
    box-shadow: 0px 0px 10px rgba(75, 77, 237, 0.2);
  }

  &:focus {
    background: #4B4DED;
    box-shadow: inset 0px 0px 5px #141566;
  }

  &:disabled {
    background: #C3C4E8;
  }

  &.button-outline {
    border: 1px solid #5D5FEF;
    color: #5D5FEF;
    background: transparent;

    &:hover {
      color: #4B4DED;
      box-shadow: none;
    }

    &:focus {
      color: #5D5FEF;
      box-shadow: none;
    }
  }
}
